$body-back-color: rgb(217, 244, 253);
$body-back-color2: rgb(211, 216, 218);
$light-blue: rgb(70, 211, 230);
$dark-blue: rgb(32, 102, 111);
$transparent-gray: rgba(118, 118, 118, 0.5);
$red-close: rgb(154, 5, 5);
$light-gray: rgb(133, 125, 125);
$menu-hover: rgb(235, 251, 253);
$transition: all 0.3s linear;
