$body-back-color: rgb(217, 244, 253);
$body-back-color2: rgb(231, 231, 231);
$light-blue: rgb(70, 211, 230);
$dark-blue: rgb(32, 102, 111);
$transparent-gray: rgba(118, 118, 118, 0.5);
$red-close: rgb(154, 5, 5);
$light-red: rgb(255, 102, 102);
$light-gray: rgb(133, 125, 125);
$menu-hover: rgb(235, 251, 253);
$transition: all 0.3s linear;
$links-gray: rgba(30, 0, 93, 0.5);
$navbar_color: rgb(70, 95, 255);
$color_shadow: rgba(6, 0, 19, 0.5);
$heavy_green: rgb(0, 84, 0);
$light_green: rgb(84, 255, 84);